@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch);
@import url(https://fonts.googleapis.com/css?family=Abel);
html {
  background-color: #dc9a48;
  border: 9px double #A23811;
  padding: 30px;
  overflow:auto;
}
header {
  font-family: Cabin Sketch;

}
#container {
  border: 9px double #A23811;
  padding: 10px;
  overflow:auto;
  background-image: url(images/backgroundimage.jpg);
}
body {
  font-family: Abel;
  font-size: 25px;
  font-weight: bolder;
  color: #17370E;
}
#navigation {
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-top: 4px solid #68947c;
    border-bottom: 4px solid #68947c;
    padding-bottom: 17px;
}
#navigation ul {
    height: auto;

}
 #navigation li {
   display: inline;
  padding: 70px;
  text-decoration: none;
  font-size: 20px;
}
#content {
     padding: 15px;
     margin-top: 10px;
     display: block;
     background-color: rgba(255,255,255,0.3);
     overflow: auto;

}
img {
  float: left;
  padding-right:15px;
}
h2 {
  text-align: right;
  font-size: 40px;
  font-weight: bolder;
  color: #013645;
}
h1 {
  font-size: 55px;
  color: #013645;
}
h3 {
  color: #A23811;
}
h4 {
  color: #013645;
}
#appetizers {
  float: left;
  width: 33%;
  margin: 0px;
}
#sandwiches {
  float: left;
width: 33%;
}
#soups{
  float: left;
width: 33%;
}
#map {
  float: left;
  width: 48%;
  padding-right: 10px;
}
#events {
  float: left;
  width: 48%;
padding-left: 15px;
overflow: auto;
}
strong {
  color: #A23811;
}
a:visited {
  color: #041C2D;
}
