@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch);
@import url(https://fonts.googleapis.com/css?family=Abel);
header {
  font-family: Cabin Sketch;
}
#container {
  border: 12px double yellow;
  padding: 10px;
  overflow:auto;
}
body {
  font-family: Abel;
}
#navigation {
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    padding-bottom: 17px;

}
#navigation ul {
    height: auto;

}
 #navigation li {
   display: inline;
  text-decoration: none;
  padding: 100px;
}
#content {
     padding: 0;
     margin: 0;
     display: block;
     border: 1px solid white;
  }
img {
  float: left;
}
h2 {
  text-align: right;
}
